body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#frame {
    display:flex;
    background: radial-gradient(
        red,
        darkred
    );
    justify-content: center;
    align-items: center;
    border-radius: 7.25%;
    flex-direction: column;
    margin-bottom: 0;
}

#knobs {
    display: flex;
    justify-content: space-between;
}

#knobs > #left-knob, #right-knob{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: radial-gradient(
        gray,
        white
    );
    font-size: 24px;

}

#container {
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(
        white,
        lightslategray
    );
    cursor: none;
}