body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#frame {
    display:flex;
    background: radial-gradient(
        red,
        darkred
    );
    justify-content: center;
    align-items: center;
    border-radius: 7.25%;
    flex-direction: column;
    margin-bottom: 0;
}

#resolution {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: linear-gradient(
        to top,
        gray,
        lightgray,
        white
    );
    font-size: 24px;
    color: goldenrod;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fade {
    animation: fade 0.5s;
    animation-iteration-count: 1;
}

@keyframes fade {
    0% {opacity: 1;}
    10% {opacity: 0.9;}
    20% {opacity: 0.8;}
    30% {opacity: 0.7;}
    40% {opacity: 0.6;}
    50% {opacity: 0.5;}
    60% {opacity: 0.4;}
    70% {opacity: 0.3;}
    80% {opacity: 0.2;}
    90% {opacity: 0.1;}
    100% {opacity: 0;}
}

#knobs {
    display: flex;
    justify-content: space-between;
}

#knobs > #left-knob, #right-knob{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: radial-gradient(
        gray,
        white
    );
    font-size: 24px;
    color: goldenrod;
}

#shake-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: linear-gradient(
        to top,
        gray,
        lightgray,
        white
    );
    font-size: 24px;
    color: goldenrod;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(
        white,
        lightslategray
    );
    cursor: none;
}